@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "Custom-1";
  src:url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
}

@layer base {
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  body {

    font-family: 'Times New Roman', Times, serif;

  }

  a {
    text-decoration: none;

  }
}